body {
    background-color: #001f3d;
    color: white;
    font-family: 'poppins', 'arial';
}

h1 {
    font-size: 85px;
    text-align: center;
}

span {
    color: aqua;
}

h2 {
    font-size: 65px;
}

.about p {
    font-size: 25px;
}

.about {
    width: 100%;
    justify-content: space-between;
    height: 600px;
    background: url("about.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 130px;
}

.about-text {
    width: 60%;
    height: 100vh;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30rem;
}

.service-img {
    padding-bottom: 10%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.services p {
    font-size: 25px;
}

.services p {
    color: aliceblue;
    font-size: 25px;
    line-height: 1.4;
}

.serv {
    position: relative;
    bottom: 100px;
}

.choose {
    display: flex;
    margin-bottom: 110px;
    gap: 25rem;
}

.choose-img {
    margin-left: 200px;
}

.chos {
    margin-left: 100px;
}

.chos p {
    font-size: 25px;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #ffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    color: #000000;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
        0 0 200px cyan;
}

.contact {
    display: flex;

}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#ct {
    width: 60%;
}
