* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 70px;
    background-color: #1f5f4a;
    display: flex;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.heading {
    letter-spacing: 2px;
    font-size: 35px;
    text-transform: uppercase;
}

ul {
    display: flex;
    align-items: center;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: 200ms ease;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 100px;
    width: 100px;
}

.hero {
    position: relative;
}

.quote {
    background: transparent;
    color: #fff;
    padding: 20px;
    padding-left: 50px;
    width: 25%;
    padding-right: 100px;
    position: absolute;
    top: 40%;
    left: 2%;
    backdrop-filter: blur(20px);
    border-radius: 25px;
}

.main-quote {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}

span {
    color: #ffcd04;
}

.store {
    height: 900px;
    width: 100%;
    padding-top: 60px;
}

.small-quote {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    font-weight: 600;
    background: #a33636;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    color: #1f5f4a;
}

.store-image {
    display: flex;
    height: 400px;
    border-radius: 10px;
    margin-left: auto;
}

.Welcome-text {
    font-size: 55px;
    width: 600px;
    margin-bottom: 20px;
}

.small-detail {
    font-size: 35px;
    margin-bottom: 20px;
}

.image {
    padding: 20px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-text {
    font-size: 45px;
    font-weight: 700;
    color: #1f5f4a;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text {
    font-size: 25px;
    color: #1f5f4a;
    font-weight: 500;
    margin-bottom: 50px;
}

.content-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.img {
    height: 200px;
    border-radius: 15px;
}

.box {
    margin-bottom: 100px;
}

.service-text {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f5f4a;
    height: 40px;
    color: #fff;
    font-weight: 600;
    transform: translateY(-40px);
    border-radius: 0 0 15px 15px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
    margin-bottom: 40px;
}

.contact-text h2 span {
    color: #1f5f4a;
}

.contact-text h4 {
    margin: 15px 0;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 60px;
    background: #1f5f4a;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation-delay: 2s;
    box-shadow: 0 0 5px #1f5f4a, 0 0 25px #1f5f4a;
    width: 95%;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #1f5f4a, 0 0 25px #1f5f4a, 0 0 50px #1f5f4a, 0 0 100px #1f5f4a,
        0 0 200px #1f5f4a;
}
